torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
transformers==4.36.2
librosa==0.10.1
sounddevice==0.5.5
soundfile==0.13.1
numpy==1.26.4
opencv-python==4.11.0.86
requests==2.32.4
gradio==4.44.1
scipy==1.15.3
matplotlib==3.10.8
tqdm==4.67.1
PyYAML==6.0.3
timm==0.9.10
pytorch-lightning==2.6.1
noisereduce==3.0.3
eva-decord
ipywidgets
einops
imgaug
termcolor
setuptools<=80.10.2
